* {
    margin: 0;
    padding: 0;
}

#section1 {
    background: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: Arial;
    position: relative;
}

.section1__logo-text {
    display: inline;
    font-size: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section1__logo-text--small {
    font-size: 18px;
}